<div class="content-body">
    <div class="content-heading">International Conference on Civil Engineering Advancements for Progressive and Harmonies Growth</div>
    <div class="content-desc">
        India is in urgent need of practical and integrated solutions to improve the sustainability of civil infrastructure systems which must be based on thorough scientific development. These developments should not affect the balance of our ecosystem. To achieve this, we need to adopt the sustainability in our design practices. Sustainability is defined as a set of environmental, economic and social conditions in which the society has the capacity and opportunity to maintain and improve its quality indefinitely without degrading the quantity, quality or availability of natural, economic, and social resources. Civil engineers must take the lead in applying sustainability to selection, planning, design, and construction of various elements and components of infrastructure. Sustainable engineering practice should meet the human needs for natural resources, industrial products, energy, food, transportation, shelter, and effective waste and material management while conserving and protecting environmental quality and the natural resource base, essential for future development. Civil engineers can contribute solutions to sustainable development by adopting cleaner technology and green design principles. This conference shall serve as a platform to create awareness among academicians, researchers and practitioners from various disciplines and sectors about developing and implementing sustainable practices and technologies that minimize the impact on our environment. Discussions shall be done on new initiatives in latest technologies in the field of infrastructure development and maintenance. 
    </div>
</div>

<div class="content-body">
    <div class="content-heading">
        About Civil Engineering Department
    </div>
    <div class="content-desc">
        Since its inception in 1960, Department of Civil Engineering remains as one of the best Civil Engineering Departments in Kerala. The department offers B. Tech programme in Civil Engineering and M.Tech programme in Structural Engineering. To provide high quality education and training in Civil Engineering, the department has got 25 sincere and dedicated faculty members and 8 technical staff. The well-equipped laboratories in various fields of Civil Engineering such as Survey Lab, Material Testing Lab, Geotechnical Engineering Lab, Traffic &Transportation Lab, Cad Lab, Design studio and Environmental Engineering Lab offers all facilities for carrying out the practical oriented studies and research projects of students. The laboratories are used by students of other neighbouring institutions too. The full-fledged laboratories provide testing and consultancy services to industries and general public. Major clients in consultancy collaboration being Southern Railway, National Highway Authority of India, IIT Palakkad, Water authority, PWD, BSNL, LSGD, KINFRA, ITI etc. Apart from academic program and research & consultancy activities, the department has been taking lead roles in organizing technical seminars, workshops as well as training programs for teachers and field professionals. Industrial visits, internships and expert lectures are arranged to students to fill up the curriculum gaps. The department has the privilege of producing many rank holders in the University examinations. The students of the department actively take part in curricular, co-curricular and extra- curricular activities. The distinguished alumni of Civil Engineering Department consist of IAS holders, Practicing Engineers, Academicians, Researchers, Entrepreneurs, Project Managers and Technical Consultants. They have been holding high positions in prestigious institutions both inside the country and abroad. Alumni associations in different parts of the world are actively involved in the growth and development of students and infrastructural facilities of the department. The research and development activities of the department are financially supported by Ministry of Human Resources Development (MHRD) and the Department of Science & Technology (DST), Government of India, AICTE, Institution of Engineers (India), Kerala State Council for Science, Technology and Environment (KSCSTE), Centre for Engineering Research and Development (CERD).
    </div>
</div>


<div class="content-body">
    <div class="content-heading">Contact Details</div>
    <div class="content-desc">
            <div style="float: left">
                <b>Dr. Keerthy M Simon</b>
                <br>
                Assistant Professor, CE Deparsment
                <br>
                NSSCE, Palakkad
                <br>
                <br>
                +91 97401 22336
                <br>
                keerthymsimon@gmail.com
            </div>
            <div style="float: right">
                <b>Prof Krishnachandran</b>
                <br>
                Assistant Professor. CE Department
                <br>
                NSSCE, Palakkad
                <br>
                <br>
                +91 94961 78331
                <br>
                vnkrishnachandran@gmail.com
            </div>
    </div>
</div>
