<div class="content-body">
    <div class="content-heading">International Conference on Civil Engineering Advancements for Progressive and Harmonies Growth</div>
    <div class="content-desc">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit ex atque inventore aut, ea eos dolorem aliquid enim culpa deserunt iusto dolorum perferendis est, corporis, pariatur laudantium. Accusamus, delectus et?
    </div>
</div>
<div class="content-body">
    <div class="content-heading">The topics of interest include but are not limited to :</div>
    <div class="content-desc" style="padding-top: 0px;">
        <div class="content-desc-col">
            <!--<h1>Advanced Computing</h1>-->
            <ul>
                <li>Green Materials</li>
                <li>Pollution Prevention and Clean Technology Practices</li>
                <li>Repair and rehabilitation</li>
                <li>Sustainable Construction and design practices</li>
                <li>Renewable Energy Infrastructure</li>
                <li>Energy and Climate Protection Strategy</li>
                <li>Waste Management</li>
                <li>Water Management </li>
                <li>Sustainable Sanitation</li>
                <li>Holistic approach in Planning and Design of urban and transportation  Infrastructure</li>
            </ul>
        </div>
    </div>
</div>
<div class="content-body">
    <div class="content-heading">
        About Civil Engineering Department
    </div>
    <div class="content-desc">
        Since its inception in 1960, Department of Civil Engineering remains as one of the best Civil Engineering Departments in Kerala. The department offers B. Tech programme in Civil Engineering and M.Tech programme in Structural Engineering. To provide high quality education and training in Civil Engineering, the department has got 25 sincere and dedicated faculty members and 8 technical staff. The well-equipped laboratories in various fields of Civil Engineering such as Survey Lab, Material Testing Lab, Geotechnical Engineering Lab, Traffic &Transportation Lab, Cad Lab, Design studio and Environmental Engineering Lab offers all facilities for carrying out the practical oriented studies and research projects of students. The laboratories are used by students of other neighbouring institutions too. The full-fledged laboratories provide testing and consultancy services to industries and general public. Major clients in consultancy collaboration being Southern Railway, National Highway Authority of India, IIT Palakkad, Water authority, PWD, BSNL, LSGD, KINFRA, ITI etc. Apart from academic program and research & consultancy activities, the department has been taking lead roles in organizing technical seminars, workshops as well as training programs for teachers and field professionals. Industrial visits, internships and expert lectures are arranged to students to fill up the curriculum gaps. The department has the privilege of producing many rank holders in the University examinations. The students of the department actively take part in curricular, co-curricular and extra- curricular activities. The distinguished alumni of Civil Engineering Department consist of IAS holders, Practicing Engineers, Academicians, Researchers, Entrepreneurs, Project Managers and Technical Consultants. They have been holding high positions in prestigious institutions both inside the country and abroad. Alumni associations in different parts of the world are actively involved in the growth and development of students and infrastructural facilities of the department. The research and development activities of the department are financially supported by Ministry of Human Resources Development (MHRD) and the Department of Science & Technology (DST), Government of India, AICTE, Institution of Engineers (India), Kerala State Council for Science, Technology and Environment (KSCSTE), Centre for Engineering Research and Development (CERD).
    </div>
</div>
