<div class="subchairs">
    <div class="header">
        Technical Collaborator
    </div>
    <div class="subchairs-body" style="text-align: center;">
        <img src="/assets/img/ijitee.png" style="width: 90%;">
        <br>
        <br>
        <img src="/assets/img/scopus.png" style="width: 70%;">
    </div>
</div>
