<div class="content-body">
    <div class="content-desc" style="padding: 0px;margin: 0; text-align: center; font-size: 25px; font-weight: bold;">
        <span style="text-decoration: none !important;">NGIST</span>
    </div>
    <div class="content-heading">
            Next Gen Information Systems and Technologies
    </div>
    <div class="content-desc">
            NGIST aims at bringing the researchers working in various areas of information systems and technologies together. This platform provides a forum for researchers, academicians, industry practitioners and students to share the innovative ideas and novel methodologies proposed for tackling true issues. This conference also aims at bringing the researchers under one umbrella to interact, exchange and share their knowledge in Next Generation information systems and technologies in addition to identify emerging research topics and characterize future directions in these fields.
    </div>
</div>


<div class="content-body">
    <div class="content-heading">
        About Computer Science & Engineering Department
    </div>
    <div class="content-desc">
        The department of computer science & engineering is the latest addition to NSSCE in the academic year 1999 - 2000. Identification of India as a potential source of computer professionals and keeping in mind the employment potential in this sector, the department aims at providing competent professionals to contribute its share to this Technologies boom. Faculty members and supporting staff with rich experience are appointed in the department.Our vision includes imparting quality education to the students in the domain of Computer Science and Engineering with a focus to create and disseminate the knowledge of problem solving using computers.
    </div>
</div>

<div class="content-body">
    <div class="content-heading">Contact Details</div>
    <div class="content-desc">
            <div style="float: left">
                <b>Prof. Sruthy Manmadhan</b>
                <br>
                Assistant Professor, CSED,
                <br>
                NSSCE, Palakkad
                <br>
                <br>
                +91 9496340418
                <br>
                sruthym.88@gmail.com
            </div>
            <div style="float: right">
                <b>Prof. Chitra S Nair</b>
                <br>
                Assistant Professor, CSED,
                <br>
                NSSCE, Palakkad
                <br>
                <br>
                +91 7760878045
                <br>
                chitranairis@gmail.com
            </div>
    </div>
</div>
