<div class="content-body">
    <div class="content-desc" style="padding: 0px;margin: 0; text-align: center; font-size: 25px; font-weight: bold;">
        <span style="text-decoration: none !important;">NGIST</span>
    </div>
    <div class="content-heading">
            International Conference on
            Next Gen Information Systems and Technologies 
    </div>
    <div class="content-desc">
            NGIST aims at bringing the researchers working in various areas of information systems and technologies together. This platform provides a forum for researchers, academicians, industry practitioners and students to share the innovative ideas and novel methodologies proposed for tackling true issues. This conference also aims at bringing the researchers under one umbrella to interact, exchange and share their knowledge in Next Generation information systems and technologies in addition to identify emerging research topics and characterize future directions in these fields.
    </div>
</div>

<div class="content-body">
    <div class="content-heading">The topics of interest include but are not limited to :</div>
    <div class="content-desc">
        <div class="content-desc-col">
            <h1>Advanced Computing</h1>
            <ul>
                <li>Parallel and Distributed Computing</li>
                <li>Smart Grid</li> 
                <li>Cluster and P2P Computing</li>
                <li>Supercomputing</li>
                <li>Cloud Computing</li>
                <li>Fog computing</li>
                <li>Informatics and Scientific Computing</li>
                <li>Hadoop and Map Reduce techniques</li>
                <li>Mobile Computing</li>
                <li>Pervasive/ubiquitous computing</li>
                <li>Web services and Internet computing</li>
                <li>High Performance Computing </li>
                <li>Green and Sustainable Computing</li>
            </ul>
        </div>
        <div class="content-desc-col">
            <h1>Information Systems</h1>
            <ul>
                <li>Internet and Web Applications</li>
                <li>E-Learning System</li>
                <li>E-commerce and E-governance</li>
                <li>Computer Based Education</li>
                <li>Numerical Methods and Algorithms</li>
                <li>Performance Evaluation</li>
                <li>Computer analysis and simulation</li>
                <li>Optimization techniques</li>
                <li>Social Network Analysis</li>
                <li>Ontology</li>
                <li>Computers in Education and Learning Technologies</li>
                <li>Internet and information systems development</li>
                <li>Human-Computer Interaction</li>
                <li>Scheduling Algorithms</li>
            </ul>
        </div>
        <div class="content-desc-col">
            <h1>Network Engineering</h1>
            <ul>
                <li>Wireless Communications and Networking</li>
                <li>IoT (Internet of things)</li>
                <li>Ad Hoc and sensor Networks</li>
                <li>Mobile communication</li>
                <li>Delay tolerant networks</li>
                <li>Steganography and Steganalysis</li>
                <li>Computer and Network Security</li>
                <li>Cryptography and cryptanalysis</li>
                <li>Routing Protocols</li>
                <li>Vehicular networks</li>
                <li>Intrusion detection and countermeasures</li>
                <li>Mobile and Wireless networks security</li>
                <li>Optical network security</li>
                <li>E-Government security</li>
                <li>Watermarking & authentication</li>
                <li>Software Defined Networks</li>
            </ul>
        </div>
        
        <div class="content-desc-col">
            <h1>Intelligent Systems</h1>
            <ul>
                <li>Artificial intelligence</li>
                <li>Machine learning</li>
                <li>Theoretical Computer Science</li>
                <li>Computational intelligence</li>
                <li>Support vector machines</li>
                <li>Decision Support Systems</li>
                <li>Natural Language Processing</li>
                <li>Neural Networks</li>
                <li>Soft computing</li>
                <li>Autonomous Agents</li>
                <li>Decision trees</li>
                <li>Expert Systems</li>
                <li>Nature-inspired computation</li>
                <li>Bio-inspired algorithms</li>
                <li>Fuzzy systems and applications</li>
                <li>Genetic algorithms</li>
                <li>Semantic web</li>
                <li>Knowledge representation techniques</li>
                <li>Rough sets</li>
            </ul>
        </div>

        <div class="content-desc-col">
                <h1>Software Engineering</h1>
                <ul>
                    <li>Software metrics</li>
                    <li>Software tools and development environments</li>
                    <li>Software policy and ethics</li>
                    <li>Knowledge-based software engineering</li>
                    <li>  Requirements engineering</li>
                    <li>Software architecture and design</li>
                    <li>Software reuse and evolution</li>
                    <li>Model-driven software engineering</li>
                    <li>Automated testing and analysis</li>
                    <li>Software processes and workflows</li>
                    <li>Reverse engineering and re-engineering</li>
                    <li>Service-oriented architectures</li>
                </ul>
            </div>
            <div class="content-desc-col">
                    <h1>Multimedia</h1>
                    <ul>
                        <li> Processing</li>
                        <li>Restoration</li>
                        <li>Feature extraction</li>
                        <li>Pattern Recognition</li>
                        <li>Interpolation & super-resolution</li>
                        <li>Segmentation</li>
                        <li>Motion analysis & tracking</li>
                        <li>Content-based retrieval</li>
                        <li>Speech & language processing</li>
                        <li>Graphics and Visualization</li>
                    </ul>
                </div>


        <div class="content-desc-col">
            <h1>Data Mining & Data Engineering</h1>
            <ul>
                <li>Deep Learning</li>
                <li>Data preprocessing and data cleaning</li>
                <li>Feature selection and extraction</li>
                <li>Clustering and classification</li>
                <li>Association rule mining</li>
                <li>Data warehousing and OLAP</li>
                <li>Text and web mining</li>
                <li>Information fusion</li>
                <li>Big Data Analytics</li>
                <li>Data Integration, Interoperability, and Metadata</li>
                <li>Ubiquitous Data Management and Mobile Databases </li>
                <li>Data Structures and data management algorithms </li>
                <li>XML data processing and algorithms </li>
                <li>Distributed, parallel, Peer to Peer databases </li>
                <li>Databases applications </li>
                <li>Knowledge Data Engineering </li>
                <li>Temporal and multimedia databases </li>
                <li>Data storage</li>
            </ul>
        </div>
        
    </div>
</div>

<div class="content-body">
    <div class="content-heading">
        About Computer Science & Engineering Department 
    </div>
    <div class="content-desc">
        The department of computer science & engineering is the latest addition to NSSCE in the academic year 1999 - 2000. Identification of India as a potential source of computer professionals and keeping in mind the employment potential in this sector, the department aims at providing competent professionals to contribute its share to this Technologies boom. Faculty members and supporting staff with rich experience are appointed in the department.Our vision includes imparting quality education to the students in the domain of Computer Science and Engineering with a focus to create and disseminate the knowledge of problem solving using computers.
    </div>
</div>

<div class="content-body">
    <div class="content-heading">Contact Details</div>
    <div class="content-desc">
            <div style="float: left">
                Mrs. Sruthy Manmadhan
                <br>
                Assistant Professor, CSED,
                <br>
                NSSCE, Palakkad                
                <br>
                <br>
                +91 9496340418
            </div>
            <div style="float: right">
                Mrs. Chitra S Nair
                <br>
                Assistant Professor, CSED,
                <br>
                NSSCE, Palakkad
                <br>
                <br>
                +91 7760878045
            </div>
            <div style="float: right; width: 100%;">
                <br>
                <br>
                <br>
                <b>Email : </b>ngist2020@gmail.com
            </div>
    </div>
</div>