<div class="content-body">
    <div class="content-desc" style="padding: 0px;margin: 0; text-align: center; font-size: 25px; font-weight: bold;">
        <span style="text-decoration: none !important;">AAECSP</span>
    </div>
    <div class="content-heading">
        Advancements and Applications in Electronics, Communication & Signal Processing
    </div>
    <div class="content-desc">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, omnis natus nobis autem a optio, minima porro perspiciatis fugit facilis officia tempora enim iusto officiis. Veniam non hic asperiores aut?
    </div>
</div>

<div class="content-body">
    <div class="content-heading">The topics of interest include but are not limited to :</div>
    <div class="content-desc" style="padding-top: 0px;">
        <div class="content-desc-col">
            <!--<h1>Advanced Computing</h1>-->
            <ul>
              <li>Controlled Energy reduction techniques for FPGAs</li>
              <li>Intelligent automation and control algorithms for energy management systems</li>
              <li>Energy efficient communication in  wireless channels</li>
              <li>Energy efficient Cognitive Radio Networks</li>
              <li>Design and Modelling of energy saving chip and hardware</li>
              <li>Nanoscale integrated Electronics</li>
              <li>Sustainable Practices in Medical electronics</li>
              <li>Smart Antennas for future generation networks</li>
              <li>IOT  and  Embedded systems</li>
              <li>Smart Grid  Networks and Protocols</li>
              <li>Energy harvesting and conservation techniques for wireless sensor networks</li>
              <li>Reliable and energy efficient adaptive digital  signal processing</li>
              <li>Self organizing networks</li>
            </ul>
        </div>
    </div>
</div>


<div class="content-body">
    <div class="content-heading">
        About Electronics & Communication Engineering Department
    </div>
    <div class="content-desc">
        Electronics & Communication Engineering department was started in the year 1986 with an intake of 30 students. Later the intake was increased to 45. Currently the intake is 108 (Including lateral entry and fees waiver category). M.Tech degree programme in Communication Engineering started in the year 2011 with an intake of 18. The department has been backed up by efficient, dedicated and specialized faculty who have helped the department to produce outstanding Engineers. The faculty has an excellent resource profile helping them to have a very good classroom performance. This leads to creation of university rank holders almost every year. The emphasis on practical knowledge along with theory, and computer awareness has helped the acquirement of placements of the students in leading industries. The dissertation projects undertaken by students involve high level application of embedded systems, Signal processing and Communication systems.
    </div>
</div>
