<div class="content-body">
    <div class="content-desc" style="padding: 0px;margin: 0; text-align: center; font-size: 25px; font-weight: bold;">
        <span style="text-decoration: none !important;">AAECSP</span>
    </div>
    <div class="content-heading">
        Advancements and Applications in Electronics, Communication & Signal Processing
    </div>
    <div class="content-desc">
        Communication and computing systems as well as other IT infrastructures have
        caused severe environmental problems by consuming significant amounts of
        power, increasing greenhouse gas emissions, and leading to pollution during the
        production and disposal. To address such problems and create a sustainable
        environment, new energy models, algorithms, methodologies, platforms, tools and
        systems are required to support next-generation computing and communication
        infrastructure. Thus, green communication, computing and technology solutions
        should be designed with more renewable energy, higher energy efficiency, lower
        greenhouse
        gas
        emission,
        and
        less
        harmful
        materials.
        This conference provides an exciting platform for scientists, engineers, and
        researchers to exchange their novel work regarding advancements in the state-of-
        art of green communication, computing and technology
    </div>
</div>




<div class="content-body">
    <div class="content-heading">
        About Electronics & Communication Engineering Department
    </div>
    <div class="content-desc">
        Electronics & Communication Engineering department was started in the year 1986 with an intake of 30 students. Later the intake was increased to 45. Currently the intake is 108 (Including lateral entry and fees waiver category). M.Tech degree programme in Communication Engineering started in the year 2011 with an intake of 18. The department has been backed up by efficient, dedicated and specialized faculty who have helped the department to produce outstanding Engineers. The faculty has an excellent resource profile helping them to have a very good classroom performance. This leads to creation of university rank holders almost every year. The emphasis on practical knowledge along with theory, and computer awareness has helped the acquirement of placements of the students in leading industries. The dissertation projects undertaken by students involve high level application of embedded systems, Signal processing and Communication systems.
    </div>
</div>

<div class="content-body">
    <div class="content-heading">Contact Details</div>
    <div class="content-desc">
            <div style="float: left">
                <b>Prof. Sreelekshmi P.S</b>
                <br>
                Assistant Professor, ECE Department
                <br>
                NSSCE, Palakkad
                <br>
                <br>
                +91 96454 51493
                <br>
                lekshmishyam2009@gmail.com
            </div>
    </div>
</div>
