<div class="content-body">
    <div class="content-heading">
        Advances in Power conversion and Renewable Energy Technologies
    </div>
    <div class="content-desc">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore totam minus possimus eos consequatur a in natus atque sit obcaecati incidunt ea, unde, laudantium vel dolor vitae nobis, corrupti ipsum.
    </div>
</div>





<div class="content-body">
    <div class="content-heading">
        About Electrical & Electronics Engineering Department
    </div>
    <div class="content-desc">
        Department of Electrical & Electronics Engineering is started in the year 1960. The department has established itself as one of the best and prestigious departments of NSS College of Engineering. The department has well experienced and committed faculty having specialization in different areas in Electrical and Electronics Engineering. The faculty always work towards development and progress of the department by upgrading and modernising the laboratory facilities, organising seminars and conferences. The National Board of Accreditation AICTE has given a National Level recognition by accrediting the department with Grade B. The department of EEE is offering B.Tech and M.Tech (Power Electronics) programmes. The department has number of well equipped laboratories and provides excellent facilities for learning, research and development and consultancy works. Department periodically organises seminars, conferences, workshops, industrial visits and guest lectures are for the benefit of both the students and the faculty.
    </div>
</div>
<div class="content-body">
    <div class="content-heading">International Advisory Committee</div>
    <div class="content-desc">
        <ol>
            <li>
                <b>Dr. Prahlad Vadakkepat</b>
                <br>
                Associate professor
                <br>
                Dept. of Electrical and Computer Engineering
                <br>
                National University of Singapore
            </li>
            <li>
                <b>Dr. Smitha Kavallur Pisharath Gopi</b>
                <br>
                Lecturer
                <br>
                School of Computer Science and Engineering
                <br>
                Nanyang Technological University, Singapore
            </li>
        </ol>
    </div>
</div>
<div class="content-body">
    <div class="content-heading">
        National Advisory Committee
    </div>
    <div class="content-desc">
        <ol>
            <li>
                <b>Dr. R. Gunabalan</b>
                <br>
                Associate Professor
                <br>
                School of Electrical Engineering
                <br>
                VIT University-Chennai Campus
                <br>
                Chennai
            </li>
            <li>
                <b>Dr. Kumaravel. S</b>
                <br>
                Assistant Professor
                <br>
                Dept. of Electrical Engineering
                <br>
                NIT-Calicut
            </li>
        </ol>
    </div>
</div>

<div class="content-body">
    <div class="content-heading">Contact Details</div>
    <div class="content-desc">
            <div style="float: left">
                <b>Mr. Pradip C</b>
                <br>
                Associate Professor. EEE Department
                <br>
                NSSCE, Palakkad
                <br>
                <br>
                herukadp@gmail.com
            </div>
            <div style="float: right">
                <b>Mrs. Leena N</b>
                <br>
                Assistant Professor, EEE Department
                <br>
                NSSCE, Palakkad
                <br>
                <br>
                leena.amulya@gmail.com
            </div>
    </div>
</div>
