<footer>
    Copyright © 2019 NSS College of Engineering, Palakkad
    <br>
    Developed and Maintained by <a href="">Allen K Abraham</a>
    <br>
    Powered by <a href="https://www.nssce.ac.in/dep_cs/index.html">Dept. of CSE</a> & <a href="https://www.nssce.ac.in/dep_ece/index.html">Dept. of ECE</a> , NSSCE, Palakkad
</footer>