<footer>
    Copyright © 2019 NSS College of Engineering, Palakkad
    <br>
    Developed and Maintained by <a href="https://www.linkedin.com/in/allenabraham777/">The Abstraction</a>
    <br>
    Powered by <a href="https://www.nssce.ac.in/dep_cs/index.html">Dept. of CSE</a> , NSSCE, Palakkad
</footer>
