<div class="content-body">
    <div class="content-desc" style="padding: 0px;margin: 0; text-align: center; font-size: 25px; font-weight: bold;">
        <span style="text-decoration: none !important;">ISMA</span>
    </div>
    <div class="content-heading">
            International Conference on
            Intelligent systems in Measurement and Automation
    </div>
    <div class="content-desc">
        An intelligent maintenance system is a system that utilizes data analytics and decision support tools to predict and prevent the potential failure of the machines. With the growing complexity of manufacturing processes and machinery, the role of monitoring systems and intelligent maintenance is becoming more relevant. In this era of growing energy demand of non renewable resources and unpredictable climatic changes there is an urgent requirement for effective and efficient intelligent systems.The objective of the conference is to bring together researchers, academicians and experts to share ideas and perspectives as well as to establish further research cooperation in the field of ISMA and green technology. This conference aims to provide a platform to discuss their work and elaborate on the principles and methods for each technology, an analysis of their implementation optimisation, management and economic advantages.

    </div>
</div>



<div class="content-body">
    <div class="content-heading">
        About Instrumentation and Control Engineering Department
    </div>
    <div class="content-desc">
        The department of Instrumentation &Control Engineering, the only one of its kind in government aided sector was established in 1980. The department offers a full time B.Tech degree course in Instrumentation & Control Engineering. The total annual student intake is 72. Department has been backed up by efficient, dedicated and specialized faculty and they work with dedication to keep in pace with the ever changing control and instrumentation scenario. The department has an excellent placement record, with its alumni working all around the globe in reputed companies in coveted positions. The alumni and the experts from industry visit the department periodically and give lectures, demonstrations and career guidance to the students. The students are also given exposure to the industrial environment through industrial visits and industrial training. It's indeed a matter of pride for the department that numerous eligible final year students are placed in prestigious MNCs every year.
    </div>
</div>


<div class="content-body">
    <div class="content-heading">Contact Details</div>
    <div class="content-desc">
            <div style="float: left">
                <b>Mrs. Deepa M K</b>
                <br>
                Assistant Professor, ICE Department
                <br>
                NSSCE, Palakkad
                <br>
                <br>
                +91 82819 00490
                <br>
                 mkkdeepa@gmail.com
            </div>
    </div>
</div>
