<div class="content-body">
    <div class="content-heading">
        About ME
    </div>
    <div class="content-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, perspiciatis accusamus aliquid repudiandae facere temporibus molestiae iusto quod dignissimos saepe sed fugit assumenda pariatur quam quas. Dolorum nesciunt dolores ex!

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum atque eaque non incidunt repellat. Recusandae, molestias eius aliquid eligendi impedit aut nobis repudiandae placeat id nihil minima quo, commodi minus!
    </div>
</div>