<div class="content-body">
    <div class="content-heading">Sustainable Technology in Mechanical Engineering</div>
    <div class="content-desc">
        Sustainability means meeting our own needs without compromising the ability of future generations to meet their own needs. Sustainable technologies in Mechanical Engineering aim for the economic and social development without affecting the environment. Engineers need to find holistic and effective solutions to protect our vital life support systems and, at the same time, meet the needs of a growing human population. Lot of research work has been going on in the field of Green & Lean manufacturing, energy efficient processes with the help of automation and AI, harnessing renewable energy sources including hybrid types, reduction of carbon emissions, hybrid and electric vehicles etc.
    </div>
</div>



<div class="content-body">
    <div class="content-heading">
        About Mechanical Engineering Department
    </div>
    <div class="content-desc">
        The department of Mechanical Engineering has been the heart and sprit of this premier institution right from its inception in 1960. This is the largest department of the institution in terms of strength of students, technical staff and faculty. Department offers PG (Computer Integrated Manufacturing) and UG courses in Mechanical Engineering. The department has sophisticated laboratory facilities to conduct experiment and research works on different specialized areas in Mechanical Engineering. The department is spearheaded by a highly competent, dedicated, well qualified and experienced faculty who always strive for imparting quality in technical education. It is highly reputed for producing eminent engineers as professionals, researchers and entrepreneurs. Rating very high, the department is the Alma Mater of several technocrats and researchers world over.
    </div>
</div>

<div class="content-body">
    <div class="content-heading">Contact Details</div>
    <div class="content-desc">
            <div style="float: left">
                <b>Prof. Dipin Kumar R</b>
                <br>
                Assistant Professor. ME Department
                <br>
                NSSCE, Palakkad
                <br>
                <br>
                +91 9947028806
                <br>
                dipinkumarr@gmail.com
            </div>
            <div style="float: right">
                <b>
                    Dr.Suresh P R
                </b>
                <br>
                Professor, ME Department
                <br>
                NSSCE, Palakkad
                <br>
                <br>
                +91 94952 50759
                <br>
                sureshpr101@gmail.com
            </div>
    </div>
</div>
