<div class="content-body">
    <div class="content-heading">Sustainable Technology in Mechanical Engineering</div>
    <div class="content-desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque culpa ducimus ad commodi dignissimos odit iste reprehenderit, magni repudiandae in est, inventore soluta totam magnam voluptatem et nemo consequatur quibusdam.
    </div>
</div>
<div class="content-body">
    <div class="content-heading">
        About Mechanical Engineering Department
    </div>
    <div class="content-desc">
        The department of Mechanical Engineering has been the heart and sprit of this premier institution right from its inception in 1960. This is the largest department of the institution in terms of strength of students, technical staff and faculty. Department offers PG (Computer Integrated Manufacturing) and UG courses in Mechanical Engineering. The department has sophisticated laboratory facilities to conduct experiment and research works on different specialized areas in Mechanical Engineering. The department is spearheaded by a highly competent, dedicated, well qualified and experienced faculty who always strive for imparting quality in technical education. It is highly reputed for producing eminent engineers as professionals, researchers and entrepreneurs. Rating very high, the department is the Alma Mater of several technocrats and researchers world over.
    </div>
</div>