<div class="subchairs">
    <div class="header">
        Promotional Partner
    </div>
    <div class="subchairs-body" style="text-align: center;">
        <img src="/assets/img/allconf.png" style="width: 90%;">
    </div>
</div>
