<div class="content-body">
    <div class="content-desc" style="padding: 0px;margin: 0; text-align: center; font-size: 25px; font-weight: bold;">
        <span style="text-decoration: none !important;">GIS</span>
    </div>
    <div class="content-heading">
        Green Innovations in Science
    </div>
    <div class="content-desc">
        One of the greatest challenges to sustainable design is choosing materials from raw material to disposal in such a way that no harm is made to the environment. Green chemistry is a tool of innovation in the design and synthesis of new chemical products and processes.  The expansion of green chemistry is required at an accelerated pace if molecular science is to meet challenges of sustainability.  Physics is a natural discipline which bring the knowledge to collect and exploit energy in a rational way and provide a sustainable use of materials.  At the interface of chemistry and engineering applied physicists are urged to find solutions for a sustainable production of energy and materials. Extensive research is needed in this area to create a low-carbon economy by improving the energy efficiency to reduce energy demand at the point of use together with the promotion of low-carbon energy supplies.

    </div>
</div>





<div class="content-body">
    <div class="content-heading">
        About Basic Sciences and Humanities Department
    </div>
    <div class="content-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
</div>
<!--
<div class="content-body">
    <div class="content-heading">International Advisory Committee</div>
    <div class="content-desc">
        <ol>
            <li>
                <b>Dr. Prahlad Vadakkepat</b>
                <br>
                Associate professor
                <br>
                Dept. of Electrical and Computer Engineering
                <br>
                National University of Singapore
            </li>
            <li>
                <b>Dr. Smitha Kavallur Pisharath Gopi</b>
                <br>
                Lecturer
                <br>
                School of Computer Science and Engineering
                <br>
                Nanyang Technological University, Singapore
            </li>
        </ol>
    </div>
</div>
<div class="content-body">
    <div class="content-heading">
        National Advisory Committee
    </div>
    <div class="content-desc">
        <ol>
            <li>
                <b>Dr. R. Gunabalan</b>
                <br>
                Associate Professor
                <br>
                School of Electrical Engineering
                <br>
                VIT University-Chennai Campus
                <br>
                Chennai
            </li>
            <li>
                <b>Dr. Kumaravel. S</b>
                <br>
                Assistant Professor
                <br>
                Dept. of Electrical Engineering
                <br>
                NIT-Calicut
            </li>
        </ol>
    </div>
</div>
-->

<div class="content-body">
    <div class="content-heading">Contact Details</div>
    <div class="content-desc">
            <div style="float: left">
                <b>Mrs. Maya Devi S</b>
                <br>
                Assistant Professor. Chemistry Department
                <br>
                NSSCE, Palakkad
                <br>
                <br>
                +91 94472 17701
                <br>
                mayadevi968@gmail.com
            </div>
    </div>
</div>
