<div class="subchairs">
    <div class="header">
        Sub Chairs
    </div>
    <div class="subchairs-body">
        <ul>
            <li><a href="/subchair?dep=cs">Computer Science and Engineering</a></li>
            <li><a href="/subchair?dep=me">Mechanical Engineering</a></li>
            <li><a href="/subchair?dep=ce">Civil Engineering</a></li>
            <li><a href="/subchair?dep=ec">Electronics and Communication Engineering</a></li>
            <li><a href="/subchair?dep=ee">Electrical and Electronics Engineering</a></li>
        </ul>
    </div>
</div>