<div class="subchairs">
    <div class="header">
        Sub Chairs
    </div>
    <div class="subchairs-body">
        <ul>
            <li><a href="/home">Computer Science and Engineering</a></li>
            <li><a href="/home">Mechanical Engineering</a></li>
            <li><a href="/home">Civil Engineering</a></li>
        </ul>
    </div>
</div>