<div class="subchairs">
    <div class="header">
        Sub Themes
    </div>
    <div class="subchairs-body">
        <ul>
            <li><a href="/subchair?dep=cs">Next Gen Information Systems and Technologies (NGIST)</a></li>
            <li><a href="/subchair?dep=me">Sustainable Technologies In Mechanical Engineering (STIME)</a></li>
            <li><a href="/subchair?dep=ce">Sustainable Practices and Advancements in Civil Engineering (SPACE)</a></li>
            <li><a href="/subchair?dep=ec">Green Communication, Computing and Technology (GCCT)</a></li>
            <li><a href="/subchair?dep=ee">Advances in Power Conversion and Renewable Energy Technologies (APCRET)</a></li>
            <li><a href="/subchair?dep=ic">Intelligent Systems in Measurement and Automation (ISMA)</a></li>
            <li><a href="/subchair?dep=sc">Green Innovations in Science (GIS)</a></li>

        </ul>
    </div>
</div>
