<!-- Require style.css to function-->
<div class="title">
    <small><small>International Conference on</small></small>
    <br>
    Sustainable Technology Applications for Green Engineering Solutions
    <br>
    (STAGE 2020) July 17-18, 2020
    <br>
    <br>
    <br>
    <small><small>NSS College of Engineering, Palakkad</small></small>
</div>

<div id="nav">
    <ul class="ul">
        <li class="li"><a href="/home">Home</a></li>
        <li class="li"><a href="/committee">Committee</a></li>
        <li class="li dropdown">
            <a href="javascript:void(0)" class="dropbtn">Sub Themes &darr;</a>
            <div class="dropdown-content">
                <a href="/subchair?dep=cs">Computer Science and Engineering</a>
                <a href="/subchair?dep=me">Mechanical Engineering</a>
                <a href="/subchair?dep=ee">Electrical and Electronics Engineering</a>
                <a href="/subchair?dep=ec">Electronics and Communication Engineering</a>
                <a href="/subchair?dep=ce">Civil Engineering</a>
                <a href="/subchair?dep=ic">Instrumentation and Control Engineering</a>
            </div>
        </li>
        <li class="li"><a href="/schedule">Important Dates</a></li>
        <li class="li"><a href="/keynote">Keynote Speakers</a></li>
        <li class="li"><a href="/call_for_paper">Call for Papers</a></li>
        <li class="li dropdown">
            <a href="javascript:void(0)" class="dropbtn">Author Info &darr;</a>
            <div class="dropdown-content">
                <a href="/submission">Submission Guidelines</a>
                <a href="/registration">Registration</a>
                <a href="/accomodation">Accommodation</a>
            </div>
        </li>
        <li class="li"><a href="/contact">Contact Us</a></li>

    </ul>
</div>
