<!-- Require style.css to function-->
<div class="title">
    <div class="logo"><img src="favicon.ico" alt=""></div>
    <div class="heading">
        <small><small>International Conference on</small></small>
        <br>
        Sustainable Technology Applications for Green Engineering Solutions
        <br>
        (STAGE 2020) July 17-18, 2020
        <br>
        <br>
        <br>
        <small><small>NSS College of Engineering, Palakkad</small></small>
    </div>
    <div class="logo"><img src="favicon.ico" alt=""></div>

</div>

<div id="nav">
    <ul class="ul">
        <li class="li"><a href="/home">Home</a></li>
        <li class="li"><a href="/committee">Committee</a></li>
        <li class="li dropdown">
            <a href="javascript:void(0)" class="dropbtn">Sub Themes &darr;</a>
            <div class="dropdown-content">
                <a href="/subchair?dep=cs">Next Gen Information Systems and Technologies (NGIST)</a>
                <a href="/subchair?dep=me">Sustainable Technologies In Mechanical Engineering (STIME)</a>
                <a href="/subchair?dep=ce">Sustainable Practices and Advancements in Civil Engineering (SPACE)</a>
                <a href="/subchair?dep=ec">Green Communication, Computing and Technology (GCCT)</a>
                <a href="/subchair?dep=ee">Advances in Power Conversion and Renewable Energy Technologies (APCRET)</a>
                <a href="/subchair?dep=ic">Intelligent Systems in Measurement and Automation (ISMA)</a>
                <a href="/subchair?dep=sc">Green Innovations in Science (GIS)</a>
            </div>
        </li>
        <li class="li"><a href="/schedule">Important Dates</a></li>
        <li class="li"><a href="/keynote">Keynote Speakers</a></li>
        <li class="li"><a href="/call_for_paper">Call for Papers</a></li>
        <li class="li dropdown">
            <a href="javascript:void(0)" class="dropbtn">Author Info &darr;</a>
            <div class="dropdown-content">
                <a href="/submission">Submission Guidelines</a>
                <!--<a href="/registration">Registration</a>
            <!--    <a href="/accomodation">Accommodation</a> -->
            </div>
        </li>
        <li class="li"><a href="/contact">Contact Us</a></li>

    </ul>
</div>
