<!-- Require style.css to function-->
<div class="title">
    <small><small>International Conference on</small></small> 
    <br>
    Recent Trends in Science and Engineering
    <br>
    ICRTSE 2020
</div>

<div id="nav">
    <ul class="ul">
        <li class="li"><a href="/home">Home</a></li>
        <li class="li"><a href="/committee">Committee</a></li>
        <li class="li dropdown">
            <a href="javascript:void(0)" class="dropbtn">Sub Chairs</a>
            <div class="dropdown-content">
                <a href="/subchair?dep=cs">Computer Science and Engineering</a>
                <a href="/subchair?dep=me">Mechanical Engineering</a>
                <a href="/subchair?dep=ee">Electrical and Electronics Engineering</a>
                <a href="/subchair?dep=ec">Electronics and Communication Engineering</a>
                <a href="/subchair?dep=ce">Civil Engineering</a>
            </div>
        </li>
        <li class="li"><a href="/schedule">Schedule</a></li>
        <li class="li"><a href="">Call for Papers</a></li>
        <li class="li"><a href="">Contact Us</a></li>
        
    </ul>
</div>