<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Committee</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <div class="jumbotron">
        <% include partials/topbar.ejs %>
   
        <div class="content">
            <div class="content-body">
                <div class="content-heading">
                    International advisory committee
                </div>
                <div class="content-desc">
                    <ol>
                        <li>
                            Dr. Prahlad Vadakkepat
                            <br>
                            Associate professor
                            <br>
                            Dept. of Electrical and Computer Engineering
                            <br>
                            National University of Singapore
                            <br>
                            prahlad@nus.edu.sg
                        </li>
                        <li>
                            Dr. Smitha Kavallur Pisharath Gopi
                            <br>
                            Lecturer
                            <br>
                            School of Computer Science and Engineering
                            <br>
                            Nanyang Technological University, Singapore
                        </li>
                        <li>
                            Dr.Afsin Gungore
                            <br>
                            Professor
                            <br>
                            Antalya University, Turkey
                        </li>
                        <li>
                            Dr.Zakariya KM
                            <br>
                            Professor,King Saud university,Saudi Arabia
                        </li>
                        <li>
                            Mathew T Mathew PhD
                            <br>
                            ProfessorUniversity of Illinois College of Medicine
                            <br>
                            USA
                        </li>
                        <li>
                            Dr. Sunday Ayoola OKE
                            <br>
                            Associate Professor
                            <br>
                            Uty of Lagos,Akoka Yaba,Nigeria
                        </li>
                        <li>
                            Dr. Krishnan Kailas
                            <br>
                            Scientist
                            <br>
                            IBM T. J. Watson Research Center, New York, USA.
                        </li>
                        <li>
                            Dr. Narendranath Malayath
                            <br>
                            Senior Director
                            <br>
                            Engineering Qualcomm Inc. San Diego, California
                        </li>
                    </ol>
                        
                </div>
            </div>
            <div class="content-body">
                <div class="content-heading">
                    Name of National advisory committee
                </div>
                <div class="content-desc">
                    <ol>
                        <li>
                            <b>
                            Dr. R. Gunabalan
                            </b>
                            <br>
                            Associate Professor
                            <br>
                            School of Electrical Engineering
                            <br>
                            VIT University-Chennai Campus
                            <br>
                            Chennai
                        </li>
                        <li>
                            <b>
                            Dr. Kumaravel. S
                            </b>
                            <br>
                            Assistant Professor
                            <br>
                            Dept. of Electrical Engineering
                            <br>
                            NIT-Calicut
                        </li>
                        <li>
                            <b>
                                Dr.Pradeep.AM
                            </b>
                            <br>
                            Professor-Aerospace dept
                            <br>
                            IIT Bombay
                        </li>
                        <li>
                            <b>
                                Dr.Murugan.S
                            </b>
                            <br>
                            Professor-Mechanical
                            <br>
                            NIT Rurkala
                        </li>
                        <li>
                            <b>
                                Dr.Kiran Vijayan
                            </b>
                            <br>
                            Dept of Ocean Engg&Naval architecture
                            <br>
                            IIT Kharagpur
                        </li>
                        <li>
                            <b>
                                Sriram Balasubramanian
                            </b>
                            <br>
                            Director, IP Engineering Synopsis
                            <br>
                            Bangalore, India Pvt. Ltd.
                        </li>
                        <li>
                            <b>
                                Dr. P. S. Anilkumar
                            </b>
                            <br>
                            Professor
                            <br>
                            Department of Physics
                            <br>
                            IISC Bangalore.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="right-content">
            <% include partials/subchairs.ejs%>
        </div>
    </div>
</body>
</html>
