<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="top-title">
        |&nbsp;
        <a href="/">STAGE 2020</a>
        &nbsp;|&nbsp;
        <a href="https://nssce.ac.in">NSSCE</a>
        &nbsp;|
    </div>
    <div class="jumbotron">
        <%include partials/topbar.ejs%>
        <div class="content">
            <div class="content-body">
                <div class="content-heading">Contact Details</div>
                <div class="content-desc">
                        <div style="float: right">
                            <b>Dr.SURESH P R</b>
                            <br>
                            Associate Professor
                            <br>
                            Mechanical Engineering
                            <br>
                            NSSCE, Palakkad
                            <br>
                            <br>
                            +91 94952 50759
                            <br>
                            sureshpr101@gmail.com
                        </div>
                        <div style="float: left">
                            <b>Dr. SINDHU R</b>
                            <br>
                            Professor
                            <br>
                            Electronics & Communication Engineering
                            <br>
                            NSSCE, Palakkad
                            <br>
                            <br>
                            +91 94973 55417
                            <br>
                            rsindhu@gmail.com
                        </div>
                </div>
            </div>
            <div class="content-body">
                <div class="content-desc">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.8338477766965!2d76.6404081140362!3d10.824024161274952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba86fd51d8e1faf%3A0x4e3d7915b3621961!2sN.S.S+Engineering+College%2C+Palakkad!5e0!3m2!1sen!2sin!4v1515601111489"  height="450" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="right-content">
            <%-include partials/subchairs.ejs%>
        </div>

    </div>
    <% include partials/footer.ejs %>
</body>
</html>
