<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ICRTSE2020</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="top-title">
        |&nbsp;
        <a href="/">ICRTSE 2020</a>
        &nbsp;|&nbsp;
        <a href="https://nssce.ac.in">NSSCE</a>
        &nbsp;|
    </div>
    <div class="jumbotron">
        
        <% include partials/topbar.ejs %>

        <div class="content">
            <div class="content-body">
                <div class="content-heading">
                    About ICRTSE 2020
                </div>
                <div class="content-desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, perspiciatis accusamus aliquid repudiandae facere temporibus molestiae iusto quod dignissimos saepe sed fugit assumenda pariatur quam quas. Dolorum nesciunt dolores ex!

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum atque eaque non incidunt repellat. Recusandae, molestias eius aliquid eligendi impedit aut nobis repudiandae placeat id nihil minima quo, commodi minus!
                </div>
            </div>
            <div class="content-body">
                <div class="content-heading">
                    About NSSCE
                </div>
                <div class="content-desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, perspiciatis accusamus aliquid repudiandae facere temporibus molestiae iusto quod dignissimos saepe sed fugit assumenda pariatur quam quas. Dolorum nesciunt dolores ex!

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum atque eaque non incidunt repellat. Recusandae, molestias eius aliquid eligendi impedit aut nobis repudiandae placeat id nihil minima quo, commodi minus!
                </div>
            </div>
            <div class="content-body">
                <div class="content-heading">
                    Tourist Attractions in Palakkad
                </div>
                <div class="content-desc">
                        <div class="slideshow-container">
                                <% palakkad.forEach(function(o) { %>
                                    <div class="mySlides fade">
                                        <img src="/assets/img/<%= o.id %>.jpg" style="width:100%">
                                        <div class="text"><%= o.name %></div>
                                    </div>
                                <% }); %>

                            
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                                
                        </div>
                        <br>
                                    
                        <div style="text-align:center">
                            <% palakkad.forEach(function(o) { %>
                            <span class="dot" onclick="currentSlide(<%= o.id %>)"></span>
                            <% }); %> 
                        </div>
                </div>
            </div>
        </div>

        <div class="right-content">

            <% include partials/notification %>
            <% include partials/subchairs.ejs %>

        </div>
    </div>

    <% include partials/footer.ejs %>

    <script src="/assets/js/slideshow.js"></script>
</body>
</html>