<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STAGE2020</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="top-title">
        |&nbsp;
        <a href="/">STAGE 2020</a>
        &nbsp;|&nbsp;
        <a href="https://nssce.ac.in">NSSCE</a>
        &nbsp;|
    </div>
    <div class="jumbotron">

        <% include partials/topbar.ejs %>

        <div class="content">
            <div class="content-body">
                <div class="content-heading">
                    STAGE 2020
                </div>
                <div class="content-desc">
                    The International Conference on Sustainable Technology Applications for
                    Green Engineering solutions (STAGE 2020) is planned to bring the research
                    students, academicians, personal from industry to have a common platform
                    and involve in discussion for solution to engineering problems through
                    sustainable means. Keynote addresses will be given by experts from both
                    academics and industry. The conference has diverse themes that cover
                    diverse engineering areas, but all converges to the central idea of green
                    engineering solutions. The conference is supported by professional bodies
                    like ISTE,IET and industries belonging to diverse engineering streams.

                    <br><br><br>
                    <!--<center>
                    <a href="assets/brochure.pdf" class="button">Get Brochure</a>
                </center>-->
                </div>
            </div>
            <div class="content-body">
                <div class="content-heading">
                    About NSSCE
                </div>
                <div class="content-desc">
                        N S S College of Engineering, Palakkad is one of the most reputed, premier engineering educational Institutions in Kerala. Founded in 1960 by Nair Service Society under the leadership of late Bharatha Kesari Mannathu Padmanabhan, during the second five year plan with the assistance of the Central and State Government under the grant-in-aid scheme, affiliated to the APJ Abdul Kalam Technological University. The College offers 6 Btech courses and 5 PG courses out of which 5 BTech courses [ME,CE,EEE,ECE,IC] have been accredited by NBA upto 2021. The campus has an enviable heritage and legacy of grooming brilliant engineering professionals who later made their mark in industrial and other sectors of the country and abroad. Situated in NSS Nagar at Akathethara, 9 km from Palakkad town, the Campus is easily accessible, being only 4 km from the Palakkad Railway Junction, and is only 5 km from the renowned Malampuzha Gardens. Nearest Airports are at Coimbatore (55 km) and Cochin International (110 km). Spread over 125 Acres, it includes an Administrative Block, Separate blocks for each Department, a Library block and four Hostels including one for Ladies. Nestling among verdant foothills, this is a tranquil and serene setting for higher education.
                        <br/>
                        <br/>
                        <h3>Our Vision</h3>
                        <br/>
                        <div>"To leapfrog into global excellence in technology and education in the present millennium ".</div>
                        <br/>
                        <br/>
                        <h3>Our Mission</h3>
                        <br/>
                        <div>"To be a premier institution producing self motivated professionals of global standards through quality education to meet the scientific and technological needs of the society".</div>
                        <br/>
                        <br/>
                        <h3>Our Motto</h3>
                        <img src="/assets/img/motto.png" alt="">
                </div>
            </div>
            <div class="content-body">
                <div class="content-heading">
                    Tourist Attractions in Palakkad
                </div>
                <div class="content-desc">
                        <div class="slideshow-container">
                                <% palakkad.forEach(function(o) { %>
                                    <div class="mySlides fade">
                                        <img onclick="location.href = '<%= o.location %>'" src="/assets/img/<%= o.id %>.jpg" style="width:100%">
                                        <div class="text"><%= o.name %></div>
                                    </div>
                                <% }); %>


                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>

                        </div>
                        <br>

                        <div style="text-align:center">
                            <% palakkad.forEach(function(o) { %>
                            <span class="dot" onclick="currentSlide(<%= o.id %>)"></span>
                            <% }); %>
                        </div>
                </div>
            </div>
        </div>

        <div class="right-content">

            <% include partials/notification %>
            <% include partials/subchairs.ejs %>
            <br>
            <% include partials/collaborator.ejs %>

        </div>
    </div>

    <% include partials/footer.ejs %>

    <script src="/assets/js/slideshow.js"></script>
</body>
</html>
