<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Keynote Speakers</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <div class="top-title">
        |&nbsp;
        <a href="/">ICRTSE 2020</a>
        &nbsp;|&nbsp;
        <a href="https://nssce.ac.in">NSSCE</a>
        &nbsp;|
    </div>
    <div class="jumbotron">
        <% include partials/topbar.ejs %>

        <div class="content">
            <div class="content-body">
                <div class="content-heading">
                    Keynote Speakers
                </div>
                <div class="content-desc">
                    <ul style="list-style:none;">
                        <li>
                            <img src="/assets/img/neithalath.jpg" class="keynote-image">
                            <br>
                            <b>
                                Narayanan Neithalath
                            </b>
                            <br>
                                Professor
                            <br>
                                School of Sustainable Engineering and the Built Environment
                            <br>
                                IRA A. Fulton Schools of Engineering
                            <br>
                                Senior Sustainability Scientist | Global Institute of Sustainability
                            <br>
                                Arizona State University
                            <br>
                                narayanan.neithalath@asu.edu
                        </li>

                        <li>
                            <br>
                            <br>
                            <img src="/assets/img/brijesh.jpg" class="keynote-image">
                            <br>
                            <b>
                                Dr. A.N. Brijesh Nair
                            </b>
                            <br>
                                Professor (Civil Engineering) & Asst. Director (International Relations)
                            <br>
                                Vellore Institute of Technology, Vellore
                            <br>
                                brijeshnair.an@vit.ac.in
                        </li>

                        <li>
                            <br>
                            <br>
                            <img src="/assets/img/shaji.jpg" class="keynote-image">
                            <br>
                            <b>
                                Dr. Shaji Krishnan
                            </b>
                            <br>
                                Senior Scientist Mathematical Modelling
                            <br>
                                Risk Analysis for Products in Development
                            <br>
                                shaji.krishnan@tno.nl
                        </li>

                        <li>
                            <br>
                            <br>
                            <img src="/assets/img/ramaswamy.png" class="keynote-image">
                            <br>
                            <b>
                                Ramaswamy  Krishnan
                            </b>
                            <br>
                                Senior Software Developer
                            <br>
                                Microsoft, United States
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="right-content">
            <% include partials/subchairs.ejs%>
        </div>
    </div>
    <% include partials/footer.ejs %>
</body>
</html>
