<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subchair</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="top-title">
        |&nbsp;
        <a href="/">STAGE 2020</a>
        &nbsp;|&nbsp;
        <a href="https://nssce.ac.in">NSSCE</a>
        &nbsp;|
    </div>
    <div class="jumbotron">
        <% include partials/topbar.ejs %>

        <div class="content">

            <div class="content-body">
                <div class="content-desc" style="padding: 0px;margin: 0; text-align: center; font-size: 25px; font-weight: bold;">
                </div>
                <div class="content-heading">
                    Sub Themes
                </div>
                <div class="content-desc" style="padding-top: 0px; text-align: center;">
                      <br>
                      <h3>The topics of interest include but are not limited to :</h3>
                </div>

                <div class="content-desc" style="padding-top: 0px;">
                    <div class="content-desc-col">
                        <h3>Track 1</h3>
                        <h1>Next Gen Information Systems and Technologies</h1>
                        <ul>
                            <li>Greenand Sustainable Computing</li>
                            <li>Informatics and Scientific Computing</li>
                            <li>Fog computing</li>
                            <li>Image Processing and Understanding</li>
                            <li>Information Retrieval and Information System</li>
                            <li>Machine Learning & Natural Language Processing</li>
                            <li>Big Data Analytics</li>
                            <li>Virtualization and Cloud Computing</li>
                            <li>IoT (Internet of things)</li>
                            <li>Social Network Analysis Ontology</li>
                            <li>Human-Computer Interaction</li>
                            <li>Multi-agent Systems</li>
                            <li>Predictive Analytics Applications in Healthcare, Finance, Climate change and Business</li>
                            <li>Web Intelligence and Computing</li>
                            <li>Wireless Networks</li>
                        </ul>
                    </div>


                    <div class="content-desc-col">
                        <h3>Track 2</h3>
                        <h1>Sustainable Technology in Mechanical Engineering</h1>
                        <ul>
                            <li>Green energy engineering</li>
                            <li>Green and sustainable manufacturing</li>
                            <li>Renewable Energy and Technology</li>
                            <li>Lean Manufacturing</li>
                            <li>Advances in additive manufacturing</li>
                            <li>CAD/CAM/CIM/Reverse Engineering</li>
                            <li>Artificial intelligence and Robotics</li>
                            <li>Recent developments in Thermal sciences</li>
                            <li>Cryogenics</li>
                            <li>Smart Materials and Manufacturing</li>
                            <li>Fluid Mechanics and Microfluidics</li>
                            <li>Mechatronics and MEMS</li>
                            <li>Precision Engineering</li>
                            <li>Advances in Non-traditional manufacturing</li>
                            <li>Non Destructive Techniques</li>
                            <li>Advanced Welding and Casting Techniques</li>
                            <li>Industrial Engineering</li>
                            <li>Automobile engineering and Hybrid Vehicles</li>
                        </ul>
                    </div>

                    <div class="content-desc-col">
                        <h3>Track 3</h3>
                        <h1>Civil Engineering Advancements for Progressive and Harmonies Growth</h1>
                        <ul>
                            <li>Green Materials</li>
                            <li>Pollution Prevention and Clean Technology Practices</li>
                            <li>Repair and rehabilitation</li>
                            <li>Sustainable Construction and design practices</li>
                            <li>Renewable Energy Infrastructure</li>
                            <li>Energy and Climate Protection Strategy</li>
                            <li>Waste Management</li>
                            <li>Water Management </li>
                            <li>Sustainable Sanitation</li>
                            <li>Holistic approach in Planning and Design of urban and transportation  Infrastructure</li>
                        </ul>
                    </div>

                    <div class="content-desc-col">
                        <h3>Track 4</h3>
                        <h1>Advancements and Applications in Electronics, Communication & Signal Processing</h1>
                        <ul>
                          <li>Controlled Energy reduction techniques for FPGAs</li>
                          <li>Intelligent automation and control algorithms for energy management systems</li>
                          <li>Energy efficient communication in  wireless channels</li>
                          <li>Energy efficient Cognitive Radio Networks</li>
                          <li>Design and Modelling of energy saving chip and hardware</li>
                          <li>Nanoscale integrated Electronics</li>
                          <li>Sustainable Practices in Medical electronics</li>
                          <li>Smart Antennas for future generation networks</li>
                          <li>IOT  and  Embedded systems</li>
                          <li>Smart Grid  Networks and Protocols</li>
                          <li>Energy harvesting and conservation techniques for wireless sensor networks</li>
                          <li>Reliable and energy efficient adaptive digital  signal processing</li>
                          <li>Self organizing networks</li>
                        </ul>
                    </div>

                    <div class="content-desc-col">
                        <h3>Track 5</h3>
                        <h1>Advances in Power conversion and Renewable Energy Technologies</h1>

                        <ul>
                          <li>Distributed Generation</li>
                          <li>Modelling and Simulation of Power Electronic Circuits</li>
                          <li>Energy conversion and management</li>
                          <li>Renewable energy technologies</li>
                          <li>Control methods in Renewable energy systems</li>
                          <li>Power Quality Management and Stability Analysis</li>
                          <li>Electric  Vehicles</li>
                          <li>IoT and Embedded System Technology</li>
                          <li>Design and Optimisation of Electric Drives</li>
                          <li>Adaptive control of electric drives</li>
                          <li>Smart energy,  Smart grid and Smart cities</li>
                          <li>Applications of Artificial Intelligence in Electrical Engineering</li>
                          <li>Data Analytics in power system</li>
                          <li>Energy efficient lighting systems</li>
                        </ul>
                    </div>

                    <div class="content-desc-col">
                        <h3>Track 6</h3>
                        <h1>Intelligent systems in Measurement and Automation</h1>
                        <ul>
                          <li>Process control and automation</li>
                          <li>Neural network and fuzzy logic</li>
                          <li>Aerospace engineering</li>
                          <li>Biomedical engineering and bio signal processing</li>
                          <li>Control engineering</li>
                          <li>Instrumentation and smart sensors</li>
                          <li>Robotics and automation</li>
                          <li>Virtual instrumentation and data acquisition</li>
                          <li>IoT in instrumentation</li>
                        </ul>
                    </div>


                </div>
            </div>

        </div>
        <div class="right-content">
            <%-include partials/subchairs.ejs%>
        </div>

    </div>
    <%-include partials/footer.ejs %>
</body>
</html>
