<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <div class="top-title">
        |&nbsp;
        <a href="/">STAGE 2020</a>
        &nbsp;|&nbsp;
        <a href="https://nssce.ac.in">NSSCE</a>
        &nbsp;|
    </div>
    <div class="jumbotron">
        <% include partials/topbar.ejs %>
        <div class="content">
            <div class="content-body">
                <div class="content-heading">
                    Registration
                </div>
                <div class="content-desc">
                    After paper acceptance, authors are required to register for the conference and also submit their details on the registration form that is made available on this page.
                    <br>
                    <br>
                    The registration rates are as follows:
                    <br>
                    <br>
                    <table>
                        <tr>
                            <td>Industry/ R&D organisation</td>
                            <td>&#8377; 10,000</td>
                        </tr>
                        <tr>
                            <td>Faculty</td>
                            <td>&#8377; 5,000</td>
                        </tr>
                        <tr>
                            <td>Research scholar/ Students</td>
                            <td>&#8377; 4,000</td>
                        </tr>
                        <tr>
                            <td>Delegates</td>
                            <td>&#8377; 2,000</td>
                        </tr>
                        <tr>
                            <td>International Delegates</td>
                            <td>$ 200</td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <h4>Mode of payment : Through online banking</h4>
                    <br>
                    <br>
                    The participant's registration fee includes admission to all scientific sessions, refreshments during session breaks,
                    lunch and a soft copy of proceedings.
                    <br>
                    <br>
                    <!-- <b>Accomodation will be arranged on payment basis</b> -->
                </div>
            </div>
        </div>

        <div class="right-content">
            <% include partials/subchairs.ejs%>
        </div>
    </div>
    <% include partials/footer.ejs %>
</body>
</html>
