<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schedule</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="top-title">
        |&nbsp;
        <a href="/">STAGE 2020</a>
        &nbsp;|&nbsp;
        <a href="https://nssce.ac.in">NSSCE</a>
        &nbsp;|
    </div>
    <div class="jumbotron">
            <% include partials/topbar.ejs %>

            <div class="content" style="border-bottom:dashed 1px #999999;">
                <div class="content-body" style="border:none;">
                    <div class="content-heading">
                        Schedule
                    </div>
                    <div class="content-desc">
                        <center>
                            <b><u>IMPORTANT DATES</u></b>
                            <br>
                            <br>
                            <table>
                                <tr>
                                    <td>Date of abstract submission</td>
                                    <td>15<sup>th</sup> November 2019</td>
                                </tr>
                                <tr>
                                    <td>Date of full paper submission</td>
                                    <td>20<sup>th</sup> January 2020</td>
                                </tr>
                                <tr>
                                    <td>Final camara ready paper</td>
                                    <td>25<sup>th</sup> April 2020</td>
                                </tr>
                                <tr>
                                    <td>Date of paper acceptance</td>
                                    <td>25<sup>th</sup> May 2020</td>
                                </tr>
                                <tr>
                                    <td>Registration by</td>
                                    <td>25<sup>th</sup> May 2020</td>
                                </tr>
                                <tr>
                                    <td>Pre conference talks</td>
                                    <td>16<sup>th</sup> July 2020</td>
                                </tr>
                                <tr>
                                    <td>Conference dates</td>
                                    <td>17<sup>th</sup> July 2020 to 18<sup>th</sup> July 2020</td>
                                </tr>
                            </table>
                            <br>
                            <br>
                            <b style="color: #ff0000">*Abstract should not exeed 300 words</b>
                        </center>
                    </div>
                </div>

            </div>
            <div class="right-content">
              <% include partials/subchairs.ejs %>
          </div>
    </div>

    <% include partials/footer.ejs %>
</body>
</html>
