<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subchair</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="top-title">
        |&nbsp;
        <a href="/">ICRTSE 2020</a>
        &nbsp;|&nbsp;
        <a href="https://nssce.ac.in">NSSCE</a>
        &nbsp;|
    </div>
    <div class="jumbotron">
        <% include partials/topbar.ejs %>
    </div>
</body>
</html>