<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Committee</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <div class="top-title">
        |&nbsp;
        <a href="/">STAGE 2020</a>
        &nbsp;|&nbsp;
        <a href="https://nssce.ac.in">NSSCE</a>
        &nbsp;|
    </div>
    <div class="jumbotron">
        <% include partials/topbar.ejs %>
        <div class="content">
            <div class="content-body">
                <div class="content-heading">
                    Submission Guidelines
                </div>
                <div class="content-desc">
                    Submission has to be made through EasyChair using the following link.
                    <br>
                    <br>
                    <br>
                    <a href="https://easychair.org/conferences/?conf=stage2020" class="button">Submission Link</a>
                </div>
            </div>
            <div class="content-body">
                <div class="content-desc">
                    <p>
                        Papers may be submitted according to the <a href="https://ijitee.org/wp-content/uploads/2017/08/IJITEE_Paper_Template.doc">template</a> 
                    </p>
                    <br>
                    <br>
                    <br>
                    <p style="float: left; width: 60%;">
                        All accepted papers will be published in SCOPUS indexed publication (International Journal of Innovative Technology and Exploring Engineering (IJITEE)).
                    </p>
                    <br>
                    <img src="/assets/img/ijitee.png" style="float: right; width: 30%; margin-top: -40px;">
                    <br>
                    <p style="clear: both;">
                        <br>
                        The peer reviewed papers and selected papers of conference as proceedings with ISSN number, based on reviewer's recommendation.
                    </p>
                    <br>
                    <br>
                    <p style="color: blue;">Conference Kit/Other facilities are available only to registered participants. In case of acceptance to the journal , authors have to follow their guideines and based on the review , they may have to resubmit and pay additional expenses
                    Skype presentations are permissible for international participants, based on a specific request which will be subjected to the decision of conference committee
                    </p>
                </div>
            </div>
        </div>

        <div class="right-content">
            <% include partials/subchairs.ejs%>
        </div>
    </div>
    <% include partials/footer.ejs %>
</body>
</html>
