<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STAGE2020</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="top-title">
        |&nbsp;
        <a href="/">STAGE 2020</a>
        &nbsp;|&nbsp;
        <a href="https://nssce.ac.in">NSSCE</a>
        &nbsp;|
    </div>
    <div class="jumbotron">

        <% include partials/topbar.ejs %>

        <div class="content">
            <div class="content-body">
                <div class="content-heading">
                    Winners
                </div>
                <div class="content-desc">
                  <h3 style="color: gold; text-shadow: 2px 2px 4px black;">First Prize</h3>
                  <br>
                  <p style="line-height: 30px;">
                    The paper titled  <b style="text-transform: uppercase; color: blue;">SPATIO-TEMPORAL FLUVIAL MORPHOLOGICAL CHANGES IN KARUVANNUR RIVER</b>  authored by <b><i>Ms Anupriya A and Prof Reeba Thomas,Govt Engineering College Thrissur</i></b>.
                  </p>
                  <br>
                  <br>
                  <br>
                  <h3 style="color: silver; text-shadow: 2px 2px 2px black;">Second Prize</h3>
                  <br>
                  <p style="line-height: 30px;">
                    The paper titled  <b style="text-transform: uppercase; color: blue;">Design and Analysis of a novel drying chamber in indirect forced convection solar drying</b>  authored by <b><i>Sabareesh Vijayakumar, Milan K John, Prof C Muraleedharan and Prof  B Rohinikumar, National Institute of Technology Calicut</i></b>.
                  </p>
                  <br>
                  <br>
                  <br>
                  <center><h2>Congratulations to all the winners</h2></center>
                </div>
            </div>
        </div>

        <div class="right-content">
            <% include partials/collaborator.ejs %>
            <br>
            <% include partials/promotional.ejs %>

        </div>
    </div>

    <% include partials/footer.ejs %>

    <script src="/assets/js/slideshow.js"></script>
</body>
</html>
