*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-position: center;
    background-size: contain;
    background: linear-gradient(#90AAAF,#ffffff);
    background-attachment: fixed;
}

.jumbotron{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    background-color: #ffffff;
    overflow: auto;
    padding-bottom: 10px;
    border-radius: 30px;
    overflow: hidden;
}

.jumbotron .title{
    color: #ffffff;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/title.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size:30px;
}
.top-title{
    position: relative;
    width: 75%;
    padding : 10px;
    left: 50%;
    transform: translateX(-50%);
}

.top-title a{
    text-decoration: none;
    color: #000000;
}

.top-title a:hover{
    animation: blinker 2s linear 0s infinite;
}

footer
{
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    position: relative;
    text-align: center;
    background-color: #53909E;
    color : #ffffff;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer a{
    text-decoration: none;
    color: inherit;
}

.content{
    margin-top: 10px;
    box-shadow: 2px 2px 10px #333333;
    margin-left: 0.5%;
    border-radius: 10px;
    border: dashed 1px #999999;
    background-color: rgba(177, 217, 226, 0.479);
    position: relative;
    width: 73%;
    float: left;
}
.content-body{
    text-align: justify;
    border-bottom: dashed 1px #000000;
    padding: 20px;
    cursor: pointer;
}

.content-body:hover{
    background-color: rgba(177, 217, 226, 0.8);
}

.content-body:last-of-type{
    border-bottom: none;
}

.content-heading{
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}
.content-desc{
    font-size: 15px;
    padding: 50px 20px 20px 20px;
    overflow: auto;
}

.content-desc-col{
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}


.content-desc-col h1{
    font-weight: bold;
    font-size: 18px;
}

.content-desc-col ul{
    padding-top : 35px;
    list-style: circle;
}

.keynote-image{
  width: 150px;
}

.content-desc-col ul li{
    line-height: 25px;
}

.right-content{
    border-radius: 10px;
    margin-right: 0.5%;
    margin-top: 10px;
    border: dashed 1px #999999;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25%;
    background-color: #ffffff;
    float: right;
}

.notification, .subchairs{
    box-shadow: 2px 2px 10px #777777;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #eeeeee;
}

.notification{
    font-size: 15px;
    height: 300px;
}

.notification .header, .subchairs .header{
    background-color: #53909E;
    color: #ffffff;
    padding: 5px;
    font-size:17px;
    text-align: center;
}

.notification .notification-body, .subchairs .subchairs-body{
    padding: 10px;
}

.notification .notification-body .ntitle{
    color : red;
}

.notification .notification-body .ncontent{
    color : #000000;
}

.subchairs .subchairs-body ul{
    list-style: none;
}

.subchairs .subchairs-body ul li{
    padding-top : 15px;
    padding-bottom : 15px;
    padding-left: 5px;
}

.subchairs .subchairs-body ul li:hover{
    background-color: #cccccc;
}

.subchairs .subchairs-body ul li a{
    text-decoration: none;
    color : #000000;
    font-size: 13px;
}


.blink {
    background-color: red;
    color: #ffffff;
    padding-left:5px;
    padding-right:5px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}







/* NAVBAR */

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #258EA6;
}

.li {
    float: left;
}

.li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  /* Change the link color to #111 (black) on hover */
.li a:hover, .dropdown:hover .dropbtn {
    background-color: #53909E;
}

.li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}



ol{
    padding-left: 20px;
}
ol li{
    padding : 10px;
}






table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd){
    background-color: #999999
}
tr:nth-child(even){
    background-color: #f2f2f2
}

th {
    background-color: #4CAF50;
    color: white;
}








/* SLIDESHOW */

.slide {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-left: 15%;
  margin-right: 15%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: #000000;
  border-radius: 50%;
  border: solid 5px #000000;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #ffffff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*--------*/
